MONGO_URI=
MONGO_DB_NAME=invernadero_g8

MQTT_BROKER=broker.emqx.io
MQTT_PORT=1883

DASHBOARD_SECRET_KEY=
DASHBOARD_USER=admin
DASHBOARD_PASSWORD=admin123

ARM64_BASE_DIR=Proyecto_1/raspberry/arm64
LECTURAS_CSV=Proyecto_1/raspberry/arm64/lecturas.csv
